<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/script.js" defer></script>
</head>
<body>
  <div class="main w-full min-h-screen bg-zinc-700 p-10">
    <a class="text-blue-500 block mb-10" href="/">Go Back To Home...</a>
    <h1 class="text-4xl border-b-4 border-black inline-block"><%= filename %></h1>
    <p class="text-xl mt-10 font-light text-white border-2 p-10"> <%= filedata %></p>
  </div>

</body>
</html>